.container{
    height:600px;
    /* border:2px solid; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   

}
.item{
    height:250px;
    width:300px;
    padding:5px;
    display: flex;
    flex-grow:1;
    position: relative;
}
img{
    width:100%;
    height:100%;
}
.item>p{
    font-size: x-large;
    position: absolute;
    bottom:203px;
    /* border:1px solid; */
    color: aliceblue;
    background-color: black;
 
   
}
