.container{
    height:640px;
    width:640px;
    border:2px solid;
    display: flex;
    flex-wrap: wrap;
    margin-left:30%;
    margin-top:2%;
    
}
.white{
    width:80px;
    height:80px;
    background-color:rgba(255, 166, 0, 0.838);
    font-size:50px;

}
.black{
    width:80px;
    height:80px;
    background-color:rgba(255, 166, 0, 0.24);
    font-size:50px;
    
}