*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body,html{
    height:100%;
    width:100%;

}

.new-visitors,.new-users,.bounce-rate{
    width:50%;
    height:30px;
    background-color:lightgrey;
    margin: 15px 10px 15px 10px;
    overflow: hidden;
}
.new-visitors>.percent-of-new-visitors{
    width:25%;
    background-color:green;
    text-align: center;
    padding:8px;
    height:100px;
}
.new-users>.percent-of-new-users{
    width:50%;
    background-color:orange;
    text-align: center;
    padding:8px;
    height:100px;
   
}
.bounce-rate>.percent-bounce-rate{
    width:75%;
    background-color:orangered;
    text-align: center;
    padding:8px;
    height:100px;
   
}
p{
    margin-left:15px;
}